- if @phone_directory.new_record?
  -# New record
  = navigation_list([ |
    { header: 'Related' }, |
    { label: 'All Directories', icon: :phone_directories, link: phone_directories_path, if: can?(:index, PhoneDirectory) } |
    ]) |

- else
  -# Existing record
  = navigation_list([ |
    { header: 'Manage' }, |
    { label: 'Details', icon: :show, link: @phone_directory, if: can?(:show, @phone_directory) }, |
    { label: 'Edit', icon: :edit, link: edit_phone_directory_path( @phone_directory ), if: can?(:edit, @phone_directory) }, |
    { label: 'Delete', icon: :delete, link: @phone_directory, options: { method: :delete, data: { confirm: 'Are you sure?' } }, if: can?(:destroy, @phone_directory) }, |
    { divider: true }, |
    { label: 'Phone Directories', icon: :phone_directories, link: phone_directories_path, if: can?(:index, PhoneDirectory) }, |
    { label: 'Phone Numbers', icon: :phone_numbers, link: phone_numbers_path, if: can?(:index, PhoneNumber) } |
    ]) |
