- cache @team do
  .container
    .page-header
      %h1
        - if @team
          = icon(:team)
          = @team.name || 'New'
          %small team
        - else
          = icon(:teams)
          Teams