- cache teams do
  %table.table
    %thead
      %tr
        %th Name
        %th Active
        %th Owner
        %th Description
        %th
    %tbody
      = render(partial: 'teams/team', collection: teams) || render('teams_empty')
