- if @appliance.new_record?  
  -# New object navigation list
  = navigation_list([ |
    { header: 'Related' }, |
    { label: 'All Appliances', icon: :appliances, link: appliances_path, if: can?(:index, Appliance) } |
    ]) |

- else
  -# Existing object navigation list
  = navigation_list([ |
    { header: 'Manage' }, |
    { label: 'Start a new ticket', icon: :tickets, link: new_appliance_ticket_path( @appliance ), if: can?(:new, Ticket) }, |
    { label: 'Details', icon: :show, link: @appliance, if: can?(:show, @appliance) }, |
    { label: 'Edit', icon: :edit, link: edit_appliance_path(@appliance), if: can?(:edit, @appliance) }, |
    { label: 'Delete', icon: :delete, link: @appliance, if: can?(:destroy, @appliance), options: { method: :delete, data: { confirm: 'Are you sure?' } } }, |
    { header: 'Related' }, |
    { label: 'Tickets', icon: :tickets, link: appliance_tickets_path( @appliance ), if: can?(:index, Ticket) }, |
    { label: 'Phone Directory', icon: :phone_directories, link: @appliance.phone_directory, if: can?(:show, @appliance.phone_directory) }, |
    { divider: true }, |
    { label: 'All Appliances', icon: :appliances, link: appliances_path, if: can?(:index, Appliance) } |
    ]) |
