%table.list
  %thead
    %tr
      %th
      %th Entry
      %th Reference
      %th Recorded
      %th.text-right Value
      %th.text-center Settled
    %tbody
      = render(partial: 'ledger_entry', collection: ledger_entries) || render(partial: 'no_ledger_entries')

= paginate ledger_entries
