- if @conversation.new_record?
  -# New conversation navigation
  = navigation_list([ |
    { header: 'Related' }, |
    { label: 'All Conversations', icon: :conversations, link: organization_conversations_path(@organization), if: can?(:index, Conversation) }, |
    { label: 'All Conversations for ' + @stencil.label, icon: :stencils, link: organization_stencil_conversations_path(@organization, @stencil), if: can?(:index, Conversation) } |
    ]) |
- else
  -# Existing conversation navigation
  = navigation_list([ |
    { header: 'Manage' }, |
    { label: 'Force status to Confirmed', icon: 'ok-sign', link: [ @organization, @conversation ], if: can?(:force, @conversation) }, |
    { label: 'Force status to Denied', icon: 'minus-sign', link: [ @organization, @conversation ], if: can?(:force, @conversation) }, |
    { label: 'Force status to Failed', icon: 'remove-sign', link: [ @organization, @conversation ], if: can?(:force, @conversation) }, |
    { label: 'Force status to Expired', icon: :time, link: [ @organization, @conversation ], if: can?(:force, @conversation) }, |
    { header: 'Related' }, |
    { label: 'All Conversations for ' + @conversation.stencil.label, icon: :stencils, link: organization_stencil_conversations_path(@organization, @conversation.stencil), if: can?(:index, Conversation) } |
    ]) |
