%p Create a new conversation with a different stencil. Please note that switching your stencil with discard all changes!
- @account.stencils( order: :label ).each do |stencil|
  = link_to stencil.label, new_stencil_conversation_path( stencil ), :class=>'btn btn-link'