%p Create a new conversation with a different stencil. Please note that switching your stencil with discard all changes!
.list-group
  - @organization.stencils.order(:label).each do |stencil|
    = link_to stencil.label, new_organization_stencil_conversation_path( @organization, stencil ), class: 'list-group-item'