- cache memberships.map{ |o| o.id } do
  %table.table
    %thead
      %tr
        %th Name
        %th Owner
        %th.text-center Owner?
        %th.text-center Administrator?
        %th.text-center Developer?
        %th.text-center Billing<br />Liaison?
        %th.text-center Conversation<br />Manager?
        %th
    %tbody
      = render(partial: 'membership', collection: memberships) || render('memberships_empty')
