-# Page header
- headings 'Users', 'all users', :users
- breadcrumb :organization_users, @organization

%table.list
  %thead
    %tr
      %th
      %th
      %th User
      %th.text-center Administrator
      %th.text-center Developer
      %th.text-center Billing<br />Liaison
      %th.text-center Conversation<br />Manager

  %tbody
    = render(partial: 'user', collection: @users) || render(partial: 'no_users')
