-# Existing conversation navigation
= navigation_list([ |
  { header: 'Related' }, |
  { label: 'View ' + item_label(@ledger_entry.item), icon: item_icon(@ledger_entry.item), link: [@organization, item_link(@ledger_entry.item)], if: can?(:index, @ledger_entry.item) }, |
  { label: 'Ledger', icon: :ledger_entries, link: organization_ledger_entries_path(@organization), if: can?(:index, LedgerEntry) } |
  ]) |
