%p Create a new ticket with a different appliance. Please note that switching your appliance with discard all changes!
- @account.appliances( order: :label ).each do |appliance|
  = link_to appliance.label, new_appliance_ticket_path( appliance ), :class=>'btn btn-link'