- if @ticket.new_record?
  / New ticket navigation
  = navigation_list([ |
    { header: 'Related' }, |
    { label: 'All Tickets', icon: :tickets, link: tickets_path }, |
    { label: 'All Tickets for ' + @appliance.label, icon: :appliances, link: appliance_tickets_path(@appliance) } |
    ]) |
- else
  / Existing ticket navigation
  = navigation_list([ |
    { header: 'Manage' }, |
    { label: 'Force status to Confirmed', icon: 'ok-sign', link: @ticket }, |
    { label: 'Force status to Denied', icon: 'minus-sign', link: @ticket }, |
    { label: 'Force status to Failed', icon: 'remove-sign', link: @ticket }, |
    { label: 'Force status to Expired', icon: :time, link: @ticket }, |
    { header: 'Related' }, |
    { label: 'All Tickets', icon: :tickets, link: tickets_path }, |
    { label: 'All Tickets for ' + @ticket.appliance.label, icon: :appliances, link: appliance_tickets_path(@ticket.appliance) } |
    ]) |
