#delete_phone_number_modal.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "DeletePhoneBookModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        / %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h3.modal-title
          = icon(:delete)
          Delete Phone Book
      .modal-body
        %p Are you sure you want to delete this Phone Book? This action cannot be undone!
        =link_to iconify('I\'m sure, delete this Phone Book!', :delete), [@organization, @phone_book], { class: 'delete', method: :delete }
        %a.cancel{"aria-hidden" => "true", "data-dismiss" => "modal"}= iconify('I\'ve changed my mind, keep this Phone Book!', :check)
        
