%tr
  %td.no-items{colspan: 4}
    No phone numbers were found matching your search. Try removing or changing your search criteria. Please note that some very popular cities or areas (such as New York, London, or Hawai'i) can have very few available phone numbers.
