.row
  .span12
    .page-header
      %h1
        = icon( :phone_numbers )
        Phone Number
        %small= humanize_phone_number @phone_number.number

.row
  .span3
    = render 'navlist'
  .span9
    = render 'form'
