-# Page Header
- headings 'Phone Number', humanize_phone_number(@phone_number.number), :phone_numbers
- breadcrumb @phone_number

-# Sidebar
- content_for :sidebar do
  = render 'navlist'

-# Content
= render 'form'
