- if @phone_book.new_record?
  -# New record
  = navigation_list([ |
    { header: 'Related' }, |
    { label: 'All Phone Books', icon: :phone_books, link: organization_phone_books_path(@organization), if: can?(:index, PhoneBook) } |
    ]) |

- else
  -# Existing record
  = navigation_list([ |
    { header: 'Manage' }, |
    { label: 'Details', icon: :show, link: [@organization, @phone_book], if: can?(:show, @phone_book) }, |
    { label: 'Edit', icon: :edit, link: edit_organization_phone_book_path( @organization, @phone_book ), if: can?(:edit, @phone_book) }, |
    { label: 'Delete', icon: :delete, link: [@organization, @phone_book], options: { method: :delete, data: { confirm: 'Are you sure?' } }, if: can?(:destroy, @phone_book) }, |
    { divider: true }, |
    { label: 'Phone Books', icon: :phone_books, link: organization_phone_books_path(@organization), if: can?(:index, PhoneBook) }, |
    { label: 'Phone Numbers', icon: :phone_numbers, link: organization_phone_numbers_path(@organization), if: can?(:index, PhoneNumber) } |
    ]) |
