-# Page Header
- headings 'Phone Books', 'all phone books', :phone_books
- breadcrumb :organization_phone_books, @organization

/ Page body
%table.list
  %thead
    %tr
      %th
      %th Directory
      %th Description
      %th
        = icon(:phone_numbers)
        Phone Numbers
      %th
        = icon(:stencils)
        Stencils
  %tbody
    = render(partial: 'phone_book', collection: @phone_books) || render(partial: 'no_phone_books')

= render(partial: 'delete_object_modal', collection: @phone_books, as: :object)