-# Page Header
- headings 'Phone Books', 'new', :phone_books
- breadcrumb @phone_book

.toolbar
  = render partial: 'toolbar'

%h3 New Phone Book
%p Create a new Phone Book by giving it a name and an optional description. You can add numbers and countries once you create it.
= render 'form'
