-# Page Header
- headings 'Phone Books', @phone_book.label, :phone_books
- breadcrumb @phone_book

- unless @phone_book.description.blank?
  %p.well= @phone_book.description

%h4 Phone numbers
%table.list
  %thead
    %tr
      %th
      %th Number
      %th Region
  %tbody= render(partial: 'phone_book_entry', collection: @phone_book.phone_book_entries.order('country')) || render(partial: 'no_phone_book_entries')

%h4 Stencils using this book
%table.list
  %thead
    %tr
      %th.span1
      %th Stencil
      %th Conversations
      %th Last used
  %tbody= render(partial: 'stencil', collection: @phone_book.stencils.order(:label)) || render(partial: 'no_stencils')
