- if @stencil.new_record?  
  -# New object navigation list
  = navigation_list([ |
    { header: 'Related' }, |
    { label: 'All Stencils', icon: :stencils, link: organization_stencils_path(@organization), if: can?(:index, Stencil) } |
    ]) |

- else
  -# Existing object navigation list
  = navigation_list([ |
    { header: 'Manage' }, |
    { label: 'Start a new conversation', icon: :conversations, link: new_organization_stencil_conversation_path( @organization, @stencil ), if: can?(:new, Conversation) }, |
    { label: 'Details', icon: :show, link: [ @organization, @stencil ], if: can?(:show, @stencil) }, |
    { label: 'Edit', icon: :edit, link: edit_organization_stencil_path(@organization, @stencil), if: can?(:edit, @stencil) }, |
    { label: 'Delete', icon: :delete, link: [ @organization, @stencil ], if: can?(:destroy, @stencil), options: { method: :delete, data: { confirm: 'Are you sure?' } } }, |
    { header: 'Related' }, |
    { label: 'Conversations', icon: :conversations, link: organization_stencil_conversations_path( @organization, @stencil ), if: can?(:index, Conversation) }, |
    { label: 'Phone Book', icon: :phone_books, link: [ @organization, @stencil.phone_book ], if: can?(:show, @stencil.phone_book) }, |
    { divider: true }, |
    { label: 'All Stencils', icon: :stencils, link: organization_stencils_path(@organization), if: can?(:index, Stencil) } |
    ]) |
