-# Page Header
- headings 'Stencils', 'all stencils', :stencils
- breadcrumb :organization_stencils, @organization

%table.list
  %thead
    %tr
      %th
      %th Stencil
      %th Book
      %th.text-center Active
      %th Description
      %th.text-center Conversations
  %tbody
    = render(partial: 'stencil', collection: @stencils) || render(partial: 'no_stencils')

= render(partial: 'enable_object_modal', collection: @stencils, as: :object)
= render(partial: 'disable_object_modal', collection: @stencils, as: :object)
= render(partial: 'delete_object_modal', collection: @stencils, as: :object)