/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * // require organizations
 * // require navbar
 * // require masthead
 * // require breadcrumbs
 * //require_tree .
 */

@import 'theme';
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'yeti-bootswatch';


// Body
body { padding-top: 30px; }


// General purpose
div.flash-flash, div.flash-info {
  @extend .alert;
  @extend .alert-info;
}

div.flash-notice, div.flash-success {
  @extend .alert;
  @extend .alert-success;
}

div.flash-alert, div.flash-warning {
  @extend .alert;
  @extend .alert-warning;
}

div.flash-error, div.flash-danger {
  @extend .alert;
  @extend .alert-danger;
}


// Header container
div.header {
  @extend .container;
  
  
}

// Navbar
nav#navbar {
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-fixed-top;
  
  #collapsable {
    @extend .collapse;
    @extend .navbar-collapse;
  }
  
  .navbar-brand img {
    height: 100%;
  }
  
  li.my > a {
    background-color: $gray;
    &:hover {
      background-color: darken($gray, 50%);
    }
  }
  
  ul.signed-in, ul.signed-out {
    @extend .nav;
    @extend .navbar-nav;
    @extend .navbar-right;
  }
  
  p.welcome {
    @extend .navbar-text;
  }
}


// Tables
table.list {
	@extend .table;
	@extend .table-striped;
	@extend .table-hover;
	
	th.controls, td.controls { white-space: nowrap; }
	
	& > tbody > tr > td { vertical-align: middle; }
}


// Content Container
div.content {
  @extend .container;
  
  div.toolbar {
    margin-bottom: 28px;
    @extend .btn-toolbar;
    
    a {
      @extend .btn;
      @extend .btn-default;
      
      &.delete:hover { @extend .btn-danger:hover; }
    }
    
    .actions {
      @extend .btn-group;
      @extend .btn-group-xs;
      
      a { @extend .btn-primary; }
    }
    
    .related {
      @extend .btn-group;
      @extend .btn-group-xs;
      @extend .pull-right;
      
      span.tag {
        @extend .btn;
        @extend .disabled;
      }
    }
  }
  
  div.status-board {
    @extend .row;
    
    div.board {
      @extend .col-sm-3;
      @extend .text-center;
      
      div.status {
        font-size: 150%;
        font-weight: bold;
      }
      
      div.tag {
        font-size: 85%;
      }
    }
  }
  
  div.modal {
    
    a.delete {
      @extend .btn;
      @extend .btn-danger;
      @extend .btn-block;
    }

    a.enable, input.enable, button.enable {
      @extend .btn;
      @extend .btn-primary;
      @extend .btn-block;
    }

    a.disable, input.disable, button.disable {
      @extend .btn;
      @extend .btn-warning;
      @extend .btn-block;
    }

    a.cancel {
      @extend .btn;
      @extend .btn-success;
      @extend .btn-block;
    }
    
    a + a {
      margin-top: 0.5em;
    }
  }
  
  
  div.performance {
    @extend .row;

    div.overview {
      @extend .col-sm-8;
    }
    
    div.today {
      @extend .col-sm-4;
    }
  }
  
  div.summary {
    @extend .row;
    
    div.description {
      @extend .col-sm-8;
    }
    
    div.details {
      @extend .col-sm-4;
      
      div.details-panel {
        @extend .panel;
        @extend .panel-default;
        
        h3 { @extend .panel-title; }
        
        ul {
          //@extend .list-group;
          //li { @extend .list-group-item; }
        }
      }
    }
  }
  
  .modal form {
    margin: 0px;

    .icon-field {
      @extend .row;

      & > .icon { @extend .col-sm-2; }

      & > .field {
        @extend .form-group;
        @extend .col-sm-10;

        input[type="text"], input[type="password"], input[type="email"], select, textarea {
          @extend .form-control;
        }
      }
    }
    
    .icon-field + .icon-field {
      margin-top: 1.5em;
    }

  }
  
  form {
    label {
      @extend .control-label;
    }

    input[type="text"], input[type="password"], input[type="email"], select, textarea {
      @extend .form-control;
    }

    .actions {
      @extend .text-right;
      margin-top: 2em;
    }
    
    fieldset + fieldset { margin-top: 2.5em; }

    input[type="submit"] {
      @extend .btn;
      @extend .btn-success;
    }
      
    button.cancel, a.cancel {
      @extend .btn;
      @extend .btn-default;
      &:hover { @extend .btn-warning; }
    }

    // General horizontal form
    &.general {
      @extend .form-horizontal;

      .field {
        @extend .form-group;
        & > label   { @extend .col-sm-2; }
        & > .inputs { @extend .col-sm-10; }
      }      

      // Wider horizontal form
      &.wide {
        .field > label   { @extend .col-sm-4; }
        .field > .inputs { @extend .col-sm-8; }
      }

    } // form.general
    
    // Horizontal with wider labels
    &.with-icons {
      .field-with-icon {
        @extend .row;
        .icon  { @extend .col-sm-2; text-align: center; }
        .field { @extend .col-sm-10; }
      }      

      .field-with-icon + .field-with-icon { margin-top: 1.5em; }
    } // form.with-icons
  }

}


// Labels
.label-draft     { @extend .label-default; }
.label-asking    { @extend .label-default; }
.label-asked     { @extend .label-info; }
.label-received  { @extend .label-info; }
.label-confirmed { @extend .label-success; }
.label-denied    { @extend .label-danger; }
.label-failed    { @extend .label-warning; }
.label-expired   { @extend .label-primary; }
.label-error     { @extend .label-danger; }



// Footer container
div.footer {
  @extend .container;

}


// Form extensions
form.new_user, form.new_phone_book, form.edit_phone_book, form.edit_user {
  @extend form.general;
}
