// Import fonts!
@import url("//fonts.googleapis.com/css?family=Raleway:400,200,100,700");

// Container-ise everything in one shot
div#header, div#main, div#footer {
  @extend .container-fluid;
}

div#header {
  @extend .equal;

  div#brand {
    @extend .col-md-3;
    @extend .col-lg-2;
    @extend .equal;
    
    font-size: $font-size-h4;
    text-align: center;
    
    a {
      @extend .btn-block;
      color: white;
      text-decoration: none;
    }
  }
  
  div#navigation {
    @extend .col-md-9;
    @extend .col-lg-10;
    @extend .equal;
    
    ul.primary-nav, ul.control-nav {
      @extend .nav;
      @extend .nav-pills;
      
      a { color: white; }
      
      li {
        span.label { display: none !important; }
        &:hover {
          span.label { display: inline !important; }
        }
      }

      li.dashboards {
        a:hover { background-color: $dashboardsColor; }
      }

      li.conversations {
        a:hover { background-color: $conversationsColor; }
      }

      li.stencils {
        a:hover { background-color: $stencilsColor; }
      }

      li.phone_books {
        a:hover { background-color: $phoneBooksColor; }
      }

      li.phone_numbers {
        a:hover { background-color: $phoneNumbersColor; }
      }

      li.ledger_entries {
        a:hover { background-color: $ledgerEntriesColor; }
      }

      li.users {
        a:hover { background-color: $usersColor; }
      }

    }
  }
}

div#main {

  div#sidebar {
    @extend .col-md-3;
    @extend .col-lg-2;
    @extend .col-md-pull-9;
    @extend .col-lg-pull-10;
    
    .heading {
      font-size: $font-size-h4;
      font-weight: bold;
      margin-left:  -($grid-gutter-width / 2);
      margin-right: -($grid-gutter-width / 2);
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      padding-left:  ($grid-gutter-width / 2);
      padding-right: ($grid-gutter-width / 2);
    }
    
    a { color: white; }

    div.top {
      margin-top: 1.5em;
      margin-bottom: 2.5em;
      
      img.gravatar {
        @extend .img-circle;
        @extend .center-block;
      }
      
      p {
        text-align: center;
        
        &.name {
          font-size: $font-size-h4;
          font-weight: bold;
          margin-bottom: 0px;
        }

        &.email {
          font-size: $font-size-h5;
          font-weight: lighter;
        }
      }
    }
    
    div.calendar {
      margin-bottom: 2.5em;
    }
    
    div.notices {
      margin-bottom: 2.5em;
    }
    
    div.manage {
      margin-bottom: 2.5em;
    }
  }
  
  div#content {
    @extend .col-md-9;
    @extend .col-lg-10;
    @extend .col-md-push-3;
    @extend .col-lg-push-2;
  }

}

div#footer {
  padding-top: 3em;
  background-color: $gray-lighter;
  
  div.notices, div.details {
    @extend .col-sm-6;
  }
}

div.organization-picker {
  @extend .dropdown;
  @extend .center-block;
  @extend .clear-fix;
  
  > button {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-sm;
    @extend .dropdown-toggle;
  }
  
  > ul {
    @extend .dropdown-menu;
  }
}

body {
  @include body-section(lighten(black, 33%));
}

body#organizations {
  @include body-section($dashboardsColor);
}

body#dashboards {
  @include body-section($dashboardsColor);
}

body#conversations {
  @include body-section($conversationsColor);
}

body#stencils {
  @include body-section($stencilsColor);
}

body#phone_books {
  @include body-section($phoneBooksColor);
}

body#phone_numbers {
  @include body-section($phoneNumbersColor);
}

body#ledger_entries {
  @include body-section($ledgerEntriesColor);
}

body#users {
  @include body-section($usersColor);
}


form.default, form.sign-in {
  @extend .form-horizontal;
  
  .form-group {
    label.key {
      @extend .col-sm-2;
      @extend .control-label;
    }
    
    .value {
      @extend .col-sm-10;
    }    

    .buttons {
      @extend .col-sm-10;
      @extend .col-sm-offset-2;
    }
  }
}

form.default-wide {
  @extend .form-horizontal;
  
  .form-group {
    label.key {
      @extend .col-sm-3;
      @extend .control-label;
    }
    
    .value {
      @extend .col-sm-9;
      
      textarea, select {
        @extend .form-control;
      }
    }

    .buttons {
      @extend .col-sm-9;
      @extend .col-sm-offset-3;
      
      input[type=submit] {
        @extend .btn;
        @extend .btn-primary;
      }
      
      a {
        @extend .btn;
        @extend .btn-default;
      }
    }
  }
}

div.panel-sign-in {
  @extend .panel;
  @extend .panel-default;
  
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  
  h1, h2, h3, h4, h5, h6 {
    @extend .panel-title;
  }
}


div.inline-modal {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  margin: 0 auto 20px;
  z-index: 1;
  max-width: 100%;
}

div.page-header h1 i {
  color: #999999;
}

div.table-tools {
  margin-bottom: 10px;
}

div.navbar {
  margin-top: 10px;
}

.table tr.middle td { vertical-align: middle; }
.table .centered { text-align: center; }



div.tiles {}
div.tiles a.tile {
  height: 70px;
  text-align: center;
  vertical-align: middle;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 50px;
  line-height: 70px;
}
