// Navbar styles
@import "theme";

// Mixins
@mixin masthead-tile($foreColor, $backColor) {
  a:hover {
    color: $foreColor;
    border-color: $foreColor;
    background-color: transparentize($foreColor, 0.5);
  }
  
  &.active {
    a {
      color: $foreColor;
      border-color: $foreColor;
      background-color: transparentize($foreColor, 0.5);
    }

    a:hover {
      color: darken($foreColor, 10%);
      border-color: darken($foreColor, 10%);
      background-color: transparentize($foreColor, 0.4);
    }
  }
}

// Masthead
div#masthead {
  @extend .container-fluid;
  color: white;
  background-color: black;
  border-bottom: 8px solid black;
  
  background-position: center center;
  background-repeat: no-repeat;
  background-origin: content-box;
  
  // Backgrounds
  &.cusco        {
    background: image-url('mastheads/cusco.jpg');
    background-position: center 85%;
  }

  &.machupicchu  {
    background: image-url('mastheads/machupicchu.jpg');
    background-position: 10% 45%;
  }

  &.playablanca  {
    background: image-url('mastheads/playablanca.jpg');
    background-position: right 40%;
  }

  &.sevensisters {
    background: image-url('mastheads/sevensisters.jpg');
    background-position: center 18%;
  }

  &.stockholm    {
    background: image-url('mastheads/stockholm.jpg');
    background-position: center 80%;
  }

  &.varanasi     {
    background: image-url('mastheads/varanasi.jpg');
    background-position: center 60%;
  }

  // Navigation block within the masthead
  ul.navigation {
    margin: 0px auto;
    padding: 10px;
    text-align: center;
  
    // The 'normal' tile
    li {
      display: inline-block;
      @include square(75px);
      line-height: 75px;
      margin: 3px;
      font-size: 300%;
      
      // Standard links
      a {
        display: block;
        @include square(100%);
        border: 2px solid white;
        color: white;
      }
      
      // All images
      img {
        margin-top: -15px;
      }
      
      // Gravatar image
      img.gravatar { @include square(100%); }

      // The 'logo' tile
      &.logo {
        a { border-color: transparent; }
        img { width: 50px; }
      }
    
      // Section tiles
      &.dashboard      { @include masthead-tile( $dashboardsColor,    transparent ); }
      &.conversations  { @include masthead-tile( $conversationsColor, transparent ); }
      &.stencils       { @include masthead-tile( $stencilsColor,      transparent ); }
      &.phone-books    { @include masthead-tile( $phoneBooksColor,    transparent ); }
      &.phone-numbers  { @include masthead-tile( $phoneNumbersColor,  transparent ); }
      &.ledger-entries { @include masthead-tile( $ledgerEntriesColor, transparent ); }
      &.users          { @include masthead-tile( $usersColor,         transparent ); }
      
      // Config tiles
      &.profile, &.config, &.sign-in, &.sign-out { @include masthead-tile( white, transparent ); }
      
      // Divider
      &.divider {
        width: 2px;
        height: 75px;
        background-color: white;
        vertical-align: bottom;
      }
    }
  }
}
