// Navbar styles
@import "theme";

@mixin navbar-tile($color) {
  &:hover {
    background-color: darken( $color, 30% );
    border-bottom-color: $color;
  }
  
  &.active {
    &:hover {
      background-color: darken( $color, 30% );
      border-bottom-color: $color;
    }

    a {
      color: $color;
    }
  }

  a:hover {
    color: lighten( $color, 20% );
  }
}

nav gravatar {
  background-color: darken( white, 80% );
  border-color: darken( white, 80% );
  border-width: 3px;
}

nav a.navbar-brand {
  min-width: 100px;
  text-align: center;

  &:hover {
    background-color: darken( white, 80% );
    color: white;
  }
}

nav ul.tiles li {
  max-height: 100px;
  min-width: 100px;
  text-align: center;
  border-bottom: 8px solid transparent;
  
  &:hover {
    background-color: darken( white, 80% );
    border-bottom-color: white;
  }

  a {
    &:hover {
      color: white;
    }
  }

  &.dashboards     { @include navbar-tile($dashboardsColor); }
  &.conversations  { @include navbar-tile($conversationsColor); }
  &.stencils       { @include navbar-tile($stencilsColor); }
  &.phone_books    { @include navbar-tile($phoneBooksColor); }
  &.phone_numbers  { @include navbar-tile($phoneNumbersColor); }
  &.ledger_entries { @include navbar-tile($ledgerEntriesColor); }
  &.users          { @include navbar-tile($usersColor); }
}
