// Colour palette
$dazzling_blue:      #0F4BA4;
$violet_tulip:       #7F82C5;
$radiant_orchid:     #9A5AA6;
$celosia_orange:     #EC6A28;
$freesia:            #FED000;
$cayenne:            #D7514E;
$placid_blue:        #71A3D6;
$paloma:             #9AA0A0;
$sand:               #C3A574;
$hemlock:            #8FC3A3;

// Section colours
$dashboardsColor:    #FFCCCC;
$conversationsColor: #FFE9CC;
$stencilsColor:      #FFFFCC;
$phoneBooksColor:    #DAF2C2;
$phoneNumbersColor:  #C2E5F2;
$ledgerEntriesColor: #C4BEED;
$usersColor:         #F7C6DB;

/*
$dashboardsColor:    #BF0001;
$conversationsColor: #E5481B;
$stencilsColor:      #F8E00B;
$phoneBooksColor:    #4B8E0B;
$phoneNumbersColor:  #09008A;
$ledgerEntriesColor: #3E008A;
$usersColor:         #8D0092;
*/

/*
$dashboardsColor:    $dazzling_blue;
$conversationsColor: $violet_tulip;
$stencilsColor:      $radiant_orchid;
$phoneBooksColor:    $cayenne;
$phoneNumbersColor:  $placid_blue;
$ledgerEntriesColor: $celosia_orange;
$usersColor:         #F7C6DB;
*/

// Fonts
$headings-font-family: 'Raleway', inherit !default;


// Basics of a navbar
$navbar-height:                    92px !default;
/* $navbar-margin-bottom:             $line-height-computed !default; */
$navbar-margin-bottom:             0 !default;
$navbar-border-radius:             0 !default;
/* $navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default; */
/* $navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default; */
$navbar-collapse-max-height:       340px !default;

$navbar-default-color:             #777 !default;
$navbar-default-bg:                black !default;
$navbar-default-border:            transparent !default;

// Navbar links
$navbar-default-link-color:                white !default;
$navbar-default-link-hover-color:          darken($navbar-default-link-color, 6.5%) !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #555 !default;
/* $navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default; */
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
/* $navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default; */
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;


// Body section mix-in
@mixin body-section($color) {

  $darkColor: darken($color, 43%);
  $darkerColor: darken($color, 62%);

  // Masthead and navigation
  div#masthead {
    border-bottom-color: $color;
  }

  // General overrides for section colours
  div#content a {
    color: $darkColor;
    &:hover { color: $darkerColor; }
  }
  
  .btn-primary { @include button-variant($btn-primary-color, $color, darken($color, 5%)); }
  
  .dropdown-menu > .active > a {
    &,
    &:hover,
    &:focus {
      color: white;
      background-color: $color;
    }
  }
  
  div#breadcrumbs {
    background-color: $color;
    
    a { color: $darkColor; }
    a:hover { color: $darkerColor; }
  }

  div#header {
    color: white;
    background-color: $color;
    
    div#brand { background-color: darken($color, 12%); }
    
    ul.primary-nav {
      li.active {
        a, a:hover { background-color: lighten($color, 12%); }
      }
    }
    
    ul.control-nav {
      li {
        a:hover { background-color: lighten($color, 12%); }
      }
    }
  }

  div#sidebar {
    color: white;
    background-color: $color;
    
    .heading { background-color: darken($color, 12%); }
    
    img.gravatar { border: 0.3em solid lighten($color, 12%); }
    
    .nav {
      > li {
        > a {
          &:hover,
          &:focus {
            text-decoration: none;
            background-color: darken($color, 12%);
          }
        }
      }
    }
  }

  div#footer {
    color: white;
    background-color: $color;
  }
}
