// Section colours
$dashboardsColor: #FFCCCC;
$conversationsColor: #FFE9CC;
$stencilsColor: #FFFFCC;
$phoneBooksColor: #DAF2C2;
$phoneNumbersColor: #C2E5F2;
$ledgerEntriesColor: #C4BEED;
$usersColor: #F7C6DB;
