%p Hello #{@resource.email}!
%p Your organization has been locked due to an excessive amount of unsuccessful sign in attempts.
%p Click the link below to unlock your organization:
%p= link_to 'Unlock my organization', unlock_url(@resource, :unlock_token => @resource.unlock_token)
