- if can? :delete, object
  .modal.fade[object, :delete]{ "aria-hidden" => "true", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          / %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h3.modal-title
            = icon(:delete)
            Delete #{ object.class.name.humanize }
        .modal-body
          %p Are you sure you want to delete <i>#{ object.try(:label) || "this " + object.class.name.humanize }</i>? Deleting is permanent and cannot be undone!
          =link_to iconify('I\'m sure, delete forever!', :delete), [object.organization, object], { class: 'delete', method: :delete }
          %a.cancel{"aria-hidden" => "true", "data-dismiss" => "modal"}= iconify('Wait, I want to keep it!', :check)
