- if content_for? :heading
  .page-header
    %h1
      - if content_for? :heading_icon
        = icon(content_for :heading_icon)
      = content_for :heading
      - if content_for? :subheading
        %small= content_for :subheading