-# Automatic message partial
-# For reference,
-# info = blue
-# success = green
-# error/danger = red
-# EVERYTHING ELSE becomes amber

- recognised_flash_keys = [ :info, :success, :alert, :error, :danger, :warning, :notice ]
- translate_recognised_flash_keys = { :notice => :info, :alert => :warning, :error => :danger }

- (flash.keys & recognised_flash_keys).each do |key|
  - css_class = translate_recognised_flash_keys.fetch( key, key ).to_s
  %div{ :class=> "alert alert-#{css_class} fade in" }
    %button.close{"data-dismiss" => "alert", type: "button"}
      %span{"aria-hidden" => "true"} &times;
      %span.sr-only Close
    %b= key.to_s.titleize + '!'
    = flash[key]
    
