/ Dropdown list
- default_options = { 'tabindex' => "-1" }
%div.btn-group
  %a{class: [ 'btn', 'dropdown-toggle', options.fetch('class', 'btn-small') ], "data-toggle" => "dropdown", :href => "#"}
    = label || 'Manage'
    %span.caret
  - unless dropdown.is_a? Array
    Oops! Dropdown is not an array!
  - else
    %ul.dropdown-menu
      - dropdown.each do |entry|
        - next unless entry.fetch( :if, true )                       # Skip this line unless the optional IF clause is true
        - entry_class = entry.fetch( :active, false ) ? 'active' : '' # Decide if this is the 'active' entry
        - options = default_options.merge entry.fetch(:options, {})   # Build a set of options for the link_to field
        %li{ 'class' => entry_class }
          = link_to entry[:link], options do
            - if entry.include? :icon
              = icon( entry[:icon] )
            = entry[:label]
