/ Navigation list
.well{ 'style' => 'padding: 8px 0px' }
  - unless navlist.is_a? Array
    Oops! Navlist is not an array!
  - else
    %ul{ class: 'nav nav-list ' + options.fetch( :class, '' ) }
      - navlist.each do |entry|
        - next unless entry.fetch( :if, true ) # If an :if clause was provided, evaluate it   

        - if entry.include? :header # Insert a header
          %li.nav-header= entry[:header]

        - elsif entry.include? :divider # Insert a divider
          %li.divider

        - else # Otherwise, this is just an entry
          - entry_class = entry.fetch( :active, false ) ? 'active' : ''
          %li{ 'class' => entry_class }
            = link_to entry[:link], entry.fetch(:options, {}) do
              - if entry.include? :icon
                = icon( entry[:icon] )
              = entry[:label]
