- if @account.new_record?
  -# New account
  = navigation_list([ |
    { header: 'Related' }, |
    { label: 'Dashboard', icon: :dashboard, link: '#' }, |
    { label: 'All Accounts', icon: :accounts, link: accounts_path } |
    ]) |

- else
  -# Existing account
  = navigation_list([ |
    { header: 'Manage' }, |
    { label: 'Details', icon: :show, link: account_path }, |
    { label: 'Edit', icon: :edit, link: edit_account_path(), if: can?(:edit, @account) }, |
    { header: 'Related' }, |
    { label: 'Stencils', icon: :stencils, link: stencils_path, if: can?(:index, Stencil) }, |
    { label: 'Phone Books', icon: :phone_books, link: phone_books_path, if: can?(:index, PhoneBook) }, |
    { label: 'Phone Numbers', icon: :phone_numbers, link: phone_numbers_path, if: can?(:index, PhoneNumber) }, |
    { label: 'Conversations', icon: :conversations, link: conversations_path, if: can?(:index, Conversation) }, |
    { label: 'Users', icon: :users, link: users_path, if: can?(:index, User) }, |
    { label: 'Ledger', icon: :ledger_entries, link: ledger_entries_path, if: can?(:index, LedgerEntry) }, |
    ]) |
